body {
    font-family: "Trebuchet MS";
}
.menu {
    display: flex;                /* Transformation en flexbox */
    padding:0;                    /* Suppression des marges internes */
    background-color: white;       /* Ajout de la couleur d'arrière-plan */
    justify-content: space-around;/* Alignements des liens dans le menu */
    height: 100px;
    align-items: center;  
}
.menu li {
    list-style-type: none ;       /* Suppression des puces */
}
.menu img {
    height: 80px;
}
.menu a {
    display:block;                /* Transformation en block */
    min-width: 120px;             /* Largeur minimale des liens */   
    
    margin: 0.5rem;               /* Marges externes */
    padding: 0.4rem 0.4rem;            /* Marges internes */
    text-align: center;           /* Centrage du texte */   
    background-color: white;    /* Arrière-plan */
    color: black;                  /* Couleur du texte */
    text-decoration: none;        /* Suppression du soulignement */
    border: 3px solid black;       /* Ajout d'une bordure */
    border-radius: 4px;           /* Arrondis des bordures */
    transition: all 1s ;          /* Ajout des effets de transition */
}
.menu a.actif {    
    background-color: white; 
    color: black ;
    border: 3px solid black ;
}
.menu a:hover,
.menu a:hover.actif{
    background-color: black;
    color: white;
    border-color: white;
}
#footer {
    background-color: rgba(22, 22, 22, 0.692);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
}

#footer-text{
    color: rgb(255, 255, 255);
}

h1{
    display: flex;               
    padding:0;                   
    color:  #3E3211;      
    justify-content: space-around;
    height: 100px;
    align-items: center;
   }
div h4{
    color: black;
    width: : 50px;
    text-align: center;
    font-family: Georgia, serif;
    font-size:19px;
}
div h1{
    color:  #AB4414 ;
    width: : 50px;
    text-align: center;
    font-family: serif;
}
div p{
    color: black;
    text-align:center ;
    font-family: Georgia, serif;
}
div h3{
    color: black;
    text-align:end ;
}
p{
    text-align: center;
}
span, i{ color:    #AE0505 ; 
}
div img{
    width:700px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}
div h2{
display: flex;
align-items: center;}
#img{
  background-color: #DCD8C8 ;
}
p{
font-size:22px; 
}



